-#  This file is app/views/movies/index.html.haml
%h1 All MoviesController


  
%table#movies
  %thead
    %tr
      %th= link_to "Movie Title", :sort_by=>"title", :id=>:title_header
      %th Rating
      %th= link_to "Release Date", :sort_by=>"release_date", :id=>:release_date_header
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)


= form_tag movies_path, :method => :get, :id => "ratings_form" do
  Include:
  - Movie.all_ratings.each do |rating|
    = rating
    - if params[:ratings].nil? && session[:ratings].nil?
      = check_box_tag "ratings[#{rating}]", 1, checked = true, :id => "ratings_#{rating}"
    - elsif !(params[:ratings].nil?)
      = check_box_tag "ratings[#{rating}]",1, params[:ratings].include?(rating), :id => "ratings_#{rating}"
    - elsif !(session[:ratings].nil?)
      = check_box_tag "ratings[#{rating}]",1, session[:ratings].include?(rating), :id => "ratings_#{rating}"
    
  = submit_tag 'Refresh', :id => "ratings_submit"
  
= link_to 'Add New Movie', new_movie_path
<br />
= link_to 'Update Movie', movies_updatenew_path
<br />
= link_to 'Delete by Rating', movies_deletebyrating_path
<br />
= link_to 'Delete by Name',  movies_deletebyname_path
<br />

